.credit-card.credit-card-front {
    width: 85mm;
    height: 53mm;
    border-radius: 3.18mm;
    background-color: blue;
    line-height: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.number, .name, p {
    margin-left: 8mm;
}
.credit-card.credit-card-front .name {
    font-size: large;
}
.credit-card.credit-card-front > .number {
    font-size: x-large;
}
.credit-card.credit-card-front > .information-wrapper:nth-child(1) {
   text-transform: capitalize;
}
.credit-card.credit-card-front > .information-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-transform: uppercase;
    word-wrap: break-word;
}
.credit-card.credit-card-back {
    margin-top: 10mm;
    width: 85mm;
    height: 53mm;
    border-radius: 3.18mm;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.magnetic-strip {
    height: 10mm;
    width: 100%;
    background-color: black;
    margin-top: 5mm;
}
.credit-card.credit-card-back .information-wrapper .name  {
    font-family: 'Fasthand', cursive;
}
.credit-card.credit-card-back .information-wrapper {
    display: flex;
    flex-direction: row;
    height: 10mm;
    background-color: silver;
    margin-top: 5mm;
    width: 50%;
    margin-left: 4mm;
    justify-content: space-evenly;
}